.primary-clr {
    background-color: #B68C5A;
}
.text-color{
    color: #707070;
    ;
}


.text-over-img {
   margin-top: -400px;
   bottom: unset!important;
}
.ls-card-img
{
    width: 72px;
    height: 72px;
}
.ls-card-p{
    padding-left: 0;
    padding-right: 0;
}