.primary-clr {
    background-color: #B68C5A;
}
.text-color{
    color: #707070;
    ;
}
.ls-btn:hover{
    background-color:#95580e ;

}


.text-over-img {
   margin-top: -400px;
   bottom: unset!important;
}
.ls-card-img
{
    width: 72px;
    height: 72px;
}
.ls-card-p{
    padding-left: 0;
    padding-right: 0;
}
.slider-img{
    height: 500px;
    border-radius: 8px;
    
}
.ls-card-caption{
    bottom:10rem;
    right: 15%;
}
.ls-card-icon{
    width: 40px;
    height: 40px;
}
.ls-li>li{
    list-style: none;
    margin-bottom: 5rem;
}

@media screen and (max-width:688px) {
    .ls-card-caption{
        bottom: 0;
    }
    .ls-banner{
        visibility:hidden;
    }
    .carousal-caption>h1{
        font-size: 24px;
        font-weight: 700;
        top: -12%;
        color: #FFFF;
    }
    
}